   <div > 
              <form method="post" 
              html="{:multipart=>true}"
               data-remote="true" action="/register" accept-charset="UTF-8" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                      <label>First Name</label>
                      <input id="name"
                       type="text" formControlName="firstName" 
                       class="form-control"
                       (blur)="OnBlur('firstname',_register.firstName)"
                       [ngClass]="{ 'is-invalid': submitted && _register.firstName.errors }"
                       placeholder="Name" 
                       name='name' />
                      <div *ngIf="((submitted && _register.firstName.errors) || !isFirstNameValid)" class="invalid-feedback">
                          <div *ngIf="_register.firstName.errors && _register.firstName.errors.required">First Name is required</div>
                          <div *ngIf="_register.firstName.errors?.pattern || !isFirstNameValid">First Name is invalid</div>
                      </div>
                  </div>
                   <div class="form-group">
                      <label>Mobile Number</label>
                      <input id='MobileNo' type="text"
                       formControlName="PhoneNumber"
                       class="form-control" 
                       (blur)="OnBlur('mobilenumber',_register.PhoneNumber)"
                       [ngClass]="{ 'is-invalid': submitted && _register.PhoneNumber.errors }"
                       placeholder="Mobile No."
                       name='name' />
                      <div *ngIf="((submitted && _register.PhoneNumber.errors) || !isMobileNumberValid)" class="invalid-feedback">
                          <div *ngIf="_register.PhoneNumber.errors && _register.PhoneNumber.errors.required">Mobile Number is required</div>
                          <div *ngIf="_register.PhoneNumber.errors?.pattern || !isMobileNumberValid">Mobile Number is invalid</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label>Email</label>
                      <input id='email' type="text"
                       formControlName="email" 
                      class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && _register.email.errors }"
                       placeholder="Email"
                       name='email' />
                      <div *ngIf="submitted && _register.email.errors" class="invalid-feedback">
                          <div *ngIf="_register.email.errors.required">Email is required</div>
                          <div *ngIf="_register.email.errors.email">Please enter valid email address</div>
                      </div>
                  </div>
                  
                  <div class="form-group">
                      <label>Password</label>
                      <input 
                      id="password" 
                      type="password" 
                      formControlName="password"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && _register.password.errors }"
                      name="password"
                      placeholder="Password" />
                      <div *ngIf="submitted && _register.password && _register.password.errors" class="invalid-feedback">
                          <div *ngIf="_register.password.errors.required">Password is required</div>
                          <div *ngIf="_register.password.errors.minlength">Password must be at least 6 characters</div>
                      </div>
                  </div>
                  <div class="form-group">
                        <label> Confirm Password</label>
                        <input 
                        id="password_confirmation" 
                        type="password" 
                        formControlName="password_confirmation"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && _register.password_confirmation && _register.password_confirmation.errors }"
                        name="password_confirmation"
                        placeholder="Repeat Password" />
                        <div *ngIf="isPasswordNotMatch || (submitted &&  (_register.password_confirmation &&_register.password_confirmation.errors))" class="invalid-feedback">
                            <div *ngIf="_register.password_confirmation.errors && _register.password_confirmation.errors.required">Confirm Password is required</div>
                            <div *ngIf="_register.password_confirmation.errors && _register.password_confirmation.errors.minlength">Confirm Password must be at least 6 characters</div>
                            <!-- <div *ngIf="isPasswordNotMatch">Confirm Password not matched</div>  -->
                        </div>
                    </div>
                  
                  <p>
                    By creating this account, you agree to our <a href="http://www.tinmen.in/termsandconditions.html" target="_blank">Terms &amp; Conditions</a> &amp; <a href="http://www.tinmen.in/privacypolicy.html" target="_blank">Privacy Policy</a>
                </p> 
                  <div class="form-group">
                      <button class="btn btn-primary">Register</button>
                  </div>
              </form>
              <!-- <form method="post" 
                html="{:multipart=>true}"
                 data-remote="true" action="/register" accept-charset="UTF-8">
                                    <input id="email" 
                                    class="form-control"
                                     type="text"
                                      placeholder="Name" name="email">
                                    <input id="email" class="form-control" 
                                    type="text" placeholder="Mobile No." name="email">
                                    <input id="email" class="form-control"
                                     type="text" placeholder="Email" name="email">
                                    <input id="password" class="form-control" type="password"
                                     placeholder="Password" name="password">
                                    <input id="password_confirmation" class="form-control" type="password" placeholder="Repeat Password" name="password_confirmation">
                                    <input class="btn btn-primary btn-register" type="submit" value="Create account" name="commit">
                                </form> -->
          </div>