/*  GLOBAL STYLES
------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Capriola');
@import url('https://fonts.googleapis.com/css?family=Francois+One');

body {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
    color: #222;
}
a {
    color: #35146d;
}

a:hover {
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: #35146d;
}
a:focus {
    outline: none;
}
.btn-link:hover,
.btn-link:focus {
    text-decoration: none;
    color: #35146d;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none ; 
    outline-offset: none;
    box-shadow:none;
    color: #35146d;
}
.btn,
.btn.focus,
.btn:focus, 
.btn:hover{
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    -ms-transition:all 0.5s ease;
    transition:all 0.5s ease;    
}

.owl-wrapper-outer {
    background: none;
    box-shadow: none;
    border: none;
    border-radius: 0px;
}
.owl-carousel,
.owl-controls {
    background: none;
    margin: 0;
}
.paddleft {
    padding-left: 0px;
}
.padd0 {
    padding: 0px;
}
.padbot30 {
    padding-bottom: 30px; 
}
.paddright {
    padding-right:0;
}
.mar-b {
    margin-bottom:80px;
}

.btn-md {
    height: 40px;
    line-height: 24px;
}
.btn-wide {
    padding-left: 25px;
    padding-right: 25px;
}
.btn-primary {
    background: #ff9600;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ff9600; 
    height: 40px;
    line-height: 26px;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:hover, 
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active{
    background: #ff9600;
    border: 1px solid #ff9600; 
    box-shadow: none !important;
}
.des {
    font-size: 15px;
    font-weight: 400;
    color: #757575;
    line-height: 26px;
}
.bottom-top:hover .icofont {
    color: #fff;
}
.bottom-top:hover {
    transition-duration: 1s;
    transition-timing-function: linear;
}
.bottom-top {
    display: none;
    position: fixed;
    z-index: 999;
    right: 20px;
    bottom: 60px;
    border-radius: 4px;
    padding: 8px;
}
.bottom-top .icofont {
    font-size: 20px;
    color: #fff;
}
.bottom-top {
    background: #6929da;
}
.divider {
    position: relative;
}
.divider.style-1.center {
    margin: 10px auto 15px auto;
    padding-bottom: 1px;
}
.divider .hr-simple {
    position: absolute;
    height: 1px;
    width: 30px;
    background-color: #6929da;
}
.divider .hr-simple.left {
    left: 0;
}
.divider .hr-simple.right {
    right: 0;
}
.divider .hr-icon {
    position: absolute;
    font-size: 6px;
    top: -3px;
    left: 0;
    color: #6929da;
}
.divider.center .hr-icon {
    right: 0;
    top: -2px;
}
.divider.style-2.center {
    margin: 0 auto 0 auto;
}
.divider.style-2 {
    width: 240px;
    text-align: center;
}
.divider .hr-double.left:before {
    position:absolute;
    content: "";
    width: 76px;
    height: 1px;
    left: 17px;
    top: 14px;
}
.divider .hr-double.left:after {
    position:absolute;
    content: "";
    width: 93px;
    height: 1px;
    top: 18px;
    left: 0;
}
.divider .hr-double.right:before {
    position:absolute;
    content: "";
    width: 76px;
    height: 1px;
    right: 17px;
    top: 14px;
}
.divider .hr-double.right:after {
    position:absolute;
    content: "";
    width: 93px;
    height: 1px;
    top: 18px;
    right: 0;
}
.divider-svg {
    display: inline-block;
}
.divider .divider-svg img{
    width: 23px;
    height: 30px;
}
.divider .divider-svg {
    width: 23px;
    height: 30px;
    margin-left: 4px;
}
.simple-divider {
    width: 30px;
    height: 2px;
    display: inline-block;
    margin-bottom: 25px;
    margin-top: 15px;
}
.dropdown-menu {
    padding: 0;
}
.dropdown-item.active,
.dropdown-item:active {
    color: inherit;
    background: inherit;
}

.wrapper {
    background: #fff;
}

/*  LOADER
------------------------------------------------------------- */
.loaded .loader {
    display: none !important;
}
.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    background: #fff;
}
.loader p {
    position: relative;
    margin: 0 auto;
    top: 20vh;
    width: 100vw;
    text-align: center;
    font-size: 6vh;
    color: #333;
    opacity: .75;
    animation: pulse 2.5s linear infinite;
}

/*  HEADER
------------------------------------------------------------- */

header {  
    float: left;  
    position: relative;
    width: 100%;
    display: block;
    background: #6929da;   
}
.top {
    background: #333;
}
.top .icon, 
.top .social {
    margin: 0;
}
.top .icon {
    padding: 2px 0;
}
.top .icon li {
    line-height: 14px;
    padding: 0 22px 0 0;
}
.top .icon li i{
    margin-right:8px;
}
.top .icon li a,
.top .social li a {
    color: #fff;
    font-size: 14px;
}
.top .social li {
    padding: 0 14px 0 0;
    line-height: 14px;
    margin: 0;
}
.top .social li:last-child,
.top .icon li:last-child {
    padding: 0 0px 0 0;
}
.top .social li i {
    margin-right: 0px;
}
.top .social li a:hover i {
    color: #6929da;
}
.top .icon li a:focus, 
.top .social li a:focus,
.top .icon li a:hover, 
.top .social li a:hover {
    color: #fff;
    text-decoration: none;
}
.top .icon li.dropdown ul li {
    padding: 0;
}
.top .icon li.dropdown ul li a {
    color: #757575;
    display: block;
    padding: 5px 15px;
    line-height: 22px;
}
.top .icon li.dropdown ul li a:hover {
    color: #6929da;
}
header .logo {
    margin: 2px 0;
}
header .logo img {
    max-height: 60px;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    -ms-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
#menu .navbar {
    margin: 10px 0;
    min-height: 0;
    padding-left: 0;
    padding-right: 0;
    border: 0px solid transparent;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    -ms-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
#menu .nav > li {
    margin:0 34px 0 0;
}
#menu .nav > li:last-child {
    margin:0 0px 0 0;
}
#menu .nav > li > a {
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding:0;
    line-height: 14px;
    text-transform:uppercase;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
}
#menu .nav > li > a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 100%;
    right: 0;
    top: 20px;
    background: #6929da;
    height: 2px;
    -webkit-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
#menu .nav > li > a:hover:before,
#menu .nav > li > a:focus:before,
#menu .nav > li > a:active:before {
    left: 0;
}
#menu .nav > li > a:hover, 
#menu .navbar-nav > .active > a, 
#menu .navbar-nav > .active > a:hover, 
#menu .navbar-nav > .active > a:focus {
    color: #fff;
}
#menu .dropdown-menu {
    padding:0;
    border-radius:0px;
    min-width:230px;
    margin:29px 0 0 0;
}
#menu .dropdown .dropdown-menu {
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    transform: rotateX(90deg);
    transform-origin: top;
    opacity: 0;
    display: block;
}
#menu .dropdown.show .dropdown-menu {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
}
.navbar-nav .dropdown-menu{
    margin-top: 10px;
}
#menu .dropdown-menu li{
    padding:5px 15px;
    border-bottom:1px solid #ddd;
}
#menu .dropdown-menu li:last-child{
    border-bottom:none;
}
#menu .dropdown-menu li a{
    color:#000;
    font-size:14px;
    font-weight:400;
    text-transform:capitalize;
}
#menu .dropdown-menu li a:hover{
    color:#6929da;
    padding-left:10px;
}
.button-top .btn-primary{
    margin: 10px 0;
    width: 100%;   
}


/*  BANNER
------------------------------------------------------------- */

.slide {
    position: elative;
    height: 560px;
    overflow: hidden;
}
.slideshow img {
    width: 100%;
}
.slide-detail {
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1;
    top:auto;
    bottom: 25%;
    text-align: center;
}
.slide-detail img {
    margin: 0 auto;
    width: 11.5%;
}
.slide-detail h4 {
    font-size: 50px;
    color: #fff;
    font-weight: 400;
    margin: 10px 0;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
.slide-detail p {
    font-size: 16px;
    color: #fff;
    margin: 0 10% 25px;
    line-height: 26px; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

/* CHEF REGISTRATION SECTION
---------------------------------------------------------------------*/
.chef-register {
    background: #6929da;
    padding: 10px 0;
}
.chef-register span {
    float: left;
    margin: 0 0 0 0;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;    
}
.chef-register p {
    margin: 0 0 0 38%;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    border-left: 1px solid #fff;
    padding: 10px 0 15px 26px;
}
.chef-register .form-group {
    margin: 0 0;
}
.chef-register .input-group {
    width: 100%;
    display: table; 
}


/* FOOTER SECTION
---------------------------------------------------------------------*/

footer {
    background: #f1f1f1;
}
footer .inner {
    padding: 60px 0 60px;
}
footer .inner h5 {
    color: #222;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 30px;
    text-transform: uppercase;
    line-height: 12px;
}
footer .inner ul {
    margin: 0;
}
footer .inner li {
    padding: 0 0 20px;
}
footer .inner li:last-child {
    padding: 0 0 0px;
}
footer .inner li a,
footer .inner li {
    font-size: 14px;
    color: #222;
    line-height: 14px;
}
footer .inner li a:hover {
    color: #6929da;
}
footer .inner .contact li {
    line-height: 22px;
}
footer .inner .contact li i{
    color: #6929da;
    margin-right: 15px;
    float: left;
    line-height: 24px;
}
footer .inner .contact li:first-child a i {
    margin-bottom: 40px;
}
footer .inner .insta li {
    display: inline-block;
    padding: 4px 2px;
}
footer .inner .insta li a {
    display: block;
}
footer .inner .insta li a img {
    width: 100%;
    max-width: 75px; 
}
footer .footer-bottom {
    background: #181719;
    padding: 10px 0;
}
footer .powered p {
    color: #fff;
    font-size: 14px;
    margin: 17px 0 0 ;
}
footer .powered p span {
    color: #fff;
}
footer .powered .social{
    margin: 22px 0 0;
}
footer .powered .social li {
    line-height: 14px;
    margin: 0;
}
footer .powered .social li:last-child {
    padding: 0 0px 0 0;
}
footer .powered .social li a {
    color: #fff;
    font-size: 20px;
    width: 35px;
    display: block;
    text-align: center;
}
footer .powered .social li a:hover i {
    color: #fff;
}

/* LOGIN/REGISTER SECTION
---------------------------------------------------------------------*/

.animated {
  -webkit-animation-duration: 1s;
       -moz-animation-duration: 1s;
         -o-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
         -o-animation-fill-mode: both;
            animation-fill-mode: both;
}

.animated.hinges {
    -webkit-animation-duration: 2s;
       -moz-animation-duration: 2s;
         -o-animation-duration: 2s;
            animation-duration: 2s;
}

.animated.slow {
    -webkit-animation-duration: 3s;
       -moz-animation-duration: 3s;
         -o-animation-duration: 3s;
            animation-duration: 3s;
}

.animated.snail {
    -webkit-animation-duration: 4s;
       -moz-animation-duration: 4s;
         -o-animation-duration: 4s;
            animation-duration: 4s;
}

@-webkit-keyframes shake {
    0%, 100% {-webkit-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@-moz-keyframes shake {
    0%, 100% {-moz-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}

@-o-keyframes shake {
    0%, 100% {-o-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
}

@keyframes shake {
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
    20%, 40%, 60%, 80% {transform: translateX(10px);}
}
.shake {
    -webkit-animation-name: shake;
    -moz-animation-name: shake;
    -o-animation-name: shake;
    animation-name: shake;
}

.login .modal-dialog {
    max-width: 400px;
}
.login .modal-footer {
    border-top: 0;
    margin-top: 0px;
    padding: 10px 20px 20px;
}
.login .modal-header {
    border: 0 none;
    padding: 15px 15px 15px;
/*     padding: 11px 15px; */
}

.login .modal-body {
/*     background-color: #eeeeee; */
}
.modal-title {
    color: #6929da;
}
.login .division {
    float: none;
    margin: 0 auto 18px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}
.login .division .line {
    border-top: 1px solid #dfdfdf;
    position: absolute;
    top: 10px;
    width: 34%;
}
.login .division .line.l {
    left: 0;
}
.login .division .line.r {
    right: 0;
}
.login .division span {
    color: #424242;
    font-size: 17px;
}
.login .box .social {
    float: none;
    margin: 0 auto 30px;
    text-align: center;
}

.login .social .circle {
    background-color: #EEEEEE;
    color: #FFFFFF;
    border-radius: 100px;
    display: inline-block;
    margin: 0 17px;
    padding: 15px;
}
.login .forgot {
    color: #333;
    margin-left: 0;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
.login .btn-login, .registerBox .btn-register{
/*    background-color: #00BBFF;
    border-color: #00BBFF;
    border-width: 0;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    padding: 15px 50px;*/
    text-transform: uppercase;
    width: 100%;
}
.login .btn-login:hover, .registerBox .btn-register:hover{
/*    background-color: #00A4E4;
    color: #FFFFFF;*/
}
.login .form-control{
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.09);
    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset;
    color: #fff;
}
.login .form-control:hover{
    background-color: rgba(0,0,0,.16);
}
.login .form-control:focus{
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04) inset;
    background-color: rgba(0,0,0,0.23);
    color: #fff;
}
.login .box .form input[type="text"], .login .box .form input[type="password"] {
    border-radius: 3px;
    border: none;
    color: #333;
    font-size: 16px;
    height: 46px;
    margin-bottom: 5px;
    padding: 13px 12px;
    width: 100%;
}


@media (max-width:400px){
    .login .modal-dialog{
        width: 100%;
    }
}

.big-login, .big-register{
    background-color: #00bbff;
    color: #fff;
    border-radius: 7px;
    border-width: 2px;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    padding: 16px 60px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.big-login:hover{
    background-color: #00A4E4;
    color: #fff;
}
.big-register{
    background-color: rgba(0,0,0,.0);
    color: #00bbff;
    border-color: #00bbff;
}
.big-register:hover{
    border-color: #00A4E4;
    color:  #00A4E4;
}
.login-banner {
    float: left;
    width: 200px;
    height: 100%;
    display: block;
    background: red;
}

/* FOODI MENU
---------------------------------------------------------------------*/
.menu {
    position: relative;
    float: left;
    background: #fafafa;
    width: 100%;
}
.menu-inner {
  padding: 20px 0;
}
.page-title {
    font-size: 32px;
    font-family: 'Francois One', sans-serif;
    color: #6929da;
    line-height: 55px;
    text-transform: uppercase !important;
    margin-top: 0px;
    font-weight: 300;
}

.menu .nav-tabs {
    background: #fff;
    border: 1px solid #e5e5e5;
    margin: 0 auto 10px;
    padding: 5px 10px;
    text-align: center;
}
.menu .nav-tabs > li {
    float:none;
    display:inline-block;
    padding: 0 10px 0 0;
}
.menu .nav-tabs > li:last-child {
    padding: 0 0 0 0;
}
.menu .nav-tabs > li > a {
    border:none;
    font-weight: 600;
    font-size: 14px;
    color: #000;
    line-height: 14px;
    margin: 0 ;
    text-transform:uppercase;
    padding: 14px 25px;
    border-radius: 4px;
}
.menu .nav-tabs > li > a.active,
.menu .nav-tabs > li > a.active:hover,
.menu .nav-tabs > li > a.active:focus,
.menu .nav-tabs > li > a:hover {
    color: #fff;
    background: #6929da; 
    border: none;
} 
.menu .box {
    float: left;
    border: 1px solid #e5e5e5;
    margin-bottom: 10px; 
    background: #fff;
}
.menu .box .image {
    float: left;
    width: 100%;
    display: block;
    text-align: center;
    background: #eaeaea;
}
.menu .image .img-menu {
    width: 100%;
    height: 120px;
    background: #eee;
    text-align: center;
}
.menu .box .caption {
    position: relative;
    padding: 10px;
    min-height: 50px;
    float: left;
    margin: 0;
    background: #fff;
    width: 100%;
}
.menu .box .caption h4 {
    font-size: 14px;
    font-weight: 600;
    color: #6929da;
    margin: 0 0 4px;
}
.menu .box .caption .des {
    font-size: 12px;
    color: #555;
    margin: 0;
    line-height: 14px;
    display: block;
}
.menu .box .caption span {
    color: #757575;
}
.menu .box .caption .price {
    font-size: 16px;
    font-weight: 600;
    color: #6929da;
    margin-top: 10px;
    display: inline-block;
}

/* date selection */
.date-select-wrap {
    margin-bottom: 20px;
    width: 100%;
    display: block;
    height: 40px;   
    text-align: center;    
}
.week-switcher {
    margin: 0;
    padding: 0;
    width: auto;    
    height: 100%;
    list-style: none;
}
.week-switcher li {
    display: inline-block;
    margin: 0 4px;
    width: 42px;
    height: 100%;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
}
.week-switcher li:hover {
    color: #6929da;
}
.week-switcher li .date-wrap {
    font-size: 16px;
}
.week-switcher li.date-selection.today {
    color: #6929da;
    font-weight: bold;
}

/* Cart add remove */

.food-quantity-wrap {
    position: absolute;
    right: 10px;
    bottom: 10px;    
    width: 100px;
    height: 32px;
    display: inline-block;
    background: #efefef;
    border: 1px solid #eee;
    border-radius: 4px; 
}
.btn-food-add {
    outline: transparent;
    border: 0;
    width: 100%;
    height: 30px;
    font-size: 14px;
    display: block;
    opacity: 1;
    color: #6929da;
    background: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;    
}
.btn-food-add:hover,
.btn-food-add:focus{  
    color: #fff;
    background: #6929da;

}
.food-add-minus {
    position:absolute;
    top: 0;
    visibility: hidden;
    float: left;    
    display: inline-block;
    width: 100%;
    z-index: 1;
}
.food-add,
.food-minus,
.food-quantity {
    float: left;
    margin: 0;
    width: 33.33%;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    border: 0;
    outline: 0; 
      
}
.food-add,
.food-minus {
    cursor: pointer; 
    border-radius: 4px;
}
.food-add:hover,
.food-minus:hover {
    color: #fff;
    background: #6929da;  
}


.menu .box:hover {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.20);
}