<!-- Foodi Menu Start -->
<div class="menu">
  <div class="menu-inner">
      <div class="container">
          <div class="row">
              <!-- Title Content Start -->
              <div class="page-title">
                  <h2>Our Menu</h2>
              </div>
              <!-- Title Content End -->


              <div class="row">
                  <!--  Menu Tabs Start  -->
                  <ul class="nav nav-tabs list-inline">
                      <li class="nav-item" *ngFor="let category of allMeals.supportedCategory;let i = index;">
                          <a class="nav-link" href="javascript:void(0);" (click)="selectCategory(category.categoryId);">{{category.categoryName}}</a>
                      </li>
                  </ul>
                  <ul class="nav nav-tabs list-inline">
                    <li class="nav-item" *ngFor="let dates of allMeals.supportedDates;let i = index;">
                        <a class="nav-link" href="javascript:void(0);" (click)="selectDate(dates.dateId);">{{dates.date}}</a>
                    </li>
                  </ul>
                  <!--  Menu Tabs End  -->

                  <!--  Menu Tabs Content Start  -->
                  <div class="tab-content">
                    
                      <!--  Menu Tab All Start  -->
                      <div class="tab-pane show active" >
                          <div class="row">
                              <div class="col-md-3 col-sm-6 col-xs-12" *ngFor="let product of (allMeals.data | meals:selectedOptions); let i = index;">
                                  <!-- Box Start -->
                                  <div class="box">
                                      <div class="image">
                                          <img src="assets/images/dishes-menu/01.jpg" alt="image" title="image" class="img-menu" />
                                      </div>
                                      <div class="caption">
                                          <h4>{{product.foodName}} </h4>
                                          <span class="des">All</span>            
                                          <div class="price">{{product.price.price}}</div>
                                          {{(product.discountPrice)}}
                                          <div><input type="button" value="Add" (click)="addProduct(i);" /></div>
                                      </div>
                                  </div>
                                  <!-- Box End -->
                              </div>
                          </div>
                      </div>
                      <!--  Menu Tab All End  -->

                      
                  </div>
                  <!--  Menu Tabs Content End  -->

              </div>

          </div>
        </div>  

      
  </div>
</div>
<!-- Food Menu End -->


 
<app-shopping-cart></app-shopping-cart>
