<app-header></app-header>
<!-- Foodi Menu Start -->
<div class="menu">
  <div class="menu-inner">
      <div class="container">
          <div class="row">
              <!-- Title Content Start -->
              <div class="page-title">
                  <h2>Our Menu</h2>
              </div>
              <!-- Title Content End -->


              <div class="row">
                  <!--  Menu Tabs Start  -->
                  <ul class="nav nav-tabs list-inline">
                      <li class="nav-item" *ngFor="let category of allMeals.supportedCategory;let i = index;">
                          <a class="nav-link" [ngClass]="{'active':(category.categoryId == selectedOptions.currentCategory)}" href="javascript:void(0);" (click)="selectCategory(category.categoryId);">{{category.categoryName}}</a>
                      </li>
                  </ul>
                  <div class="date-select-wrap">
                    <ul class="week-switcher"> 
                        <li class="date-selection today" [ngClass]="{'today':(dates.dateId == selectedOptions.currentDate.dateId)}" *ngFor="let dates of allMeals.supportedDates;let i = index;" (click)="selectDate(dates.dateId);">       
                            <div class="day-wrap">
                                <span>{{dates.dateName}}</span>
                            </div>
                            <div class="date-wrap">
                                <span>{{dates.date}}</span>
                            </div>
                        </li>
                    </ul>
                  </div>    
                  
                  <!--  Menu Tabs End  -->

                  <!--  Menu Tabs Content Start  -->
                  <div class="tab-content">
                    
                      <!--  Menu Tab All Start  -->
                      <div class="tab-pane show active" >
                          <div class="row">
                                
                              <div class="col-md-3 col-sm-6 col-xs-12" *ngFor="let product of (allMeals.data | meals:selectedOptions); let i = index;">
                                  <!-- Box Start -->
                                  <div class="box">
                                      <div class="image">
                                          <img src="assets/images/dishes-menu/01.jpg" alt="image" title="image" class="img-menu" />
                                      </div>
                                      <div class="caption">
                                          <h4>{{product.foodName}} </h4>
                                          <span class="des">All</span>            
                                          <div class="price">Rs {{product.price.price}}</div>

                                          <div class="food-quantity-wrap">
                                            <button class="btn-food-add" (click)="addProduct(product);">ADD</button>
                                            <div class="food-add-minus">
                                                <div role="button" id="minus1" class="food-minus" (click)="updateQuantity(product, '-')">-</div>
                                                <input type="text" name="quantity"  [(ngModel)]="product.quantity" size="2" 
                                                id="quantity1" class="food-quantity">
                                                <div role="button" id="add1" class="food-add"  (click)="updateQuantity(product, '+')" >+</div>
                                            </div>
                                          </div>
                                          
                                      </div>
                                  </div>
                                  <!-- Box End -->
                              </div>
                          </div>
                      </div>
                      <!--  Menu Tab All End  -->

                      
                  </div>
                  <!--  Menu Tabs Content End  -->

              </div>

          </div>
        </div>  

      
  </div>
</div>
<!-- Food Menu End -->


 
<app-shopping-cart></app-shopping-cart>
<app-footer></app-footer>