
            <div>
                    <div class="form-group">
                            <!-- <app-search></app-search> --> Select city and location in home page and prefill here in new address
                     </div>
                    <div *ngFor="let address of allDeliveryAddress" >
                            <h3> Delivery Address</h3>
                            <div>
                            {{address.fullName ? address.fullName : ''}}, 
                            {{address.phoneNumber ? address.phoneNumber : ''}},<br>
                            {{address.location && address.location.locationName ? address.location.locationName : ''}}, <br>
                            {{address.area && address.area.areaName ? address.area.areaName: ''}}, <br>
                            {{address.addressType && address.addressType.addressTypeName ? address.addressType.addressTypeName: ''}}, <br>
                            {{ address.deliveryPoint && address.deliveryPoint.deliveryPointName ? address.deliveryPoint.deliveryPointName:''}},  <br>
                            {{address.addressLine1 ? address.addressLine1 : ''}}, 
                            {{address.addressLine2 ? address.addressLine2 : ''}}, <br> 
                            {{address.city && address.city.cityName ? address.city.cityName : ''}}, 
                             {{address.pinCode ? address.pinCode: ''}}, <br> 
                           
                              <br>
                              <div id="{{'ele'+address.id}}" class="form-group">
                                    <button class="btn btn-primary" (click)="proceedToPay(address)">Deliver to this address</button>
                                    <button class="btn btn-primary" (click)="EditDeliveryAddress(address)" > Edit</button>
                                    <button class="btn btn-primary" (click)="deleteDeliveryAddress(address)"> Delete</button>
                                </div>
                            </div>
                        </div>
                    <div>
                      <button class="btn btn-primary" (click)="addDeliveryAddressForm()">Add New Address</button>
                    </div>
                    <div *ngIf='isShowForm'>
                <form [formGroup]="detailsForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Full Name:</label>
                        <input type="text" formControlName="FullName" 
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.FullName.errors }" />
                        <div *ngIf="submitted && f.FullName.errors" class="invalid-feedback">
                            <div *ngIf="f.FullName.errors.required">Full Name is required</div>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label>Phone Number:</label>
                        <input type="text" formControlName="PhoneNumber"
                         class="form-control" [ngClass]="{ 'is-invalid': submitted && f.PhoneNumber.errors }" />
                        <div *ngIf="submitted && f.PhoneNumber.errors" class="invalid-feedback">
                            <div *ngIf="f.PhoneNumber.errors.required">Phone Number is required</div>
                        </div>
                    </div>
                    <div class="form-group"> 
                                <label> Location:</label>  
                                    <select class="form-control" 
                                     formControlName="LocationId"
                                    (change)="changeLocation();"
                                    placeholder="select location"
                                    [ngClass]="{ 'is-invalid': submitted && isLocationRequired && !isLocationValid }" >  
                                         <option [ngValue]="k.locationId" *ngFor="let k of supportedLocation">  
                                             {{k.locationName}}  
                                      </option>  
                                 </select> 
                                  <div *ngIf="submitted && isLocationRequired && !isLocationValid" class="invalid-feedback">
                                    <div>LocationName is required</div>
                                </div>  
                                  
                    </div>
                    <div class="form-group">
                        <label>Area Name:</label>
                        <input type="text" formControlName="AreaName"
                         class="form-control"
                         (focus)="focusArea()"
                         placeholder="search for delivery area"
                         [ngClass]="{ 'is-invalid': submitted && f.AreaName.errors }" />
                         <ul>
                                <li *ngFor="let area of filteredArea" (click)='getSelectedArea(area)' class="filter-select-list"> 
                                  {{area.areaName}}
                               </ul> 
                        <div *ngIf="submitted && f.AreaName.errors" class="invalid-feedback">
                            <div *ngIf="f.AreaName.errors.required">Area Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            Deliver To: 
                          </label>
                          <div *ngFor="let addressType of supportedAddressType">
                            <div>
                                <input type="radio" name="radiogroup" 
                                    [checked]="addressType.selected" 
                                    [value]="addressType.addressTypeId" 
                                    (change)="onAddressTypeSelectionChange(addressType)">{{ addressType.addressTypeName }}
                            </div> 
                          </div>
                         
                      <!-- <input type="radio" name="home" value="Home">Our Delivery Point
                      <input type="radio" name="office" value="Office"> Other (Home/Office Address)
                    -->
                    </div>
                    <div class="form-group" *ngIf="isShowDeliveryPoint" >
                        <label>Our Delivery Point:</label> 
                        <input type="text" formControlName="DeliveryPoint"
                         class="form-control"
                         (focus)="focusDeliveryPoint()"
                         placeholder="search for delivery point"
                         [ngClass]="{ 'is-invalid': submitted && isDeliveryPointRequired && !isDeliveryPointValid }" />
                         <ul>
                                <li *ngFor="let delpt of filteredDeliveryPoint" (click)='getSelectedDeliveryPoint(delpt)' class="filter-select-list"> 
                                  {{delpt.deliveryPointName}}
                               </ul>
                        <div *ngIf="submitted && isDeliveryPointRequired && !isDeliveryPointValid" class="invalid-feedback">
                            <div>Delivery Point is required</div>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="isShowOtherAddress   ">
                        <label>Address Line1:</label>
                        <input type="text" formControlName="AddressLine1"
                         class="form-control"
                         (blur)="validateAddressLine1Fields();"
                          [ngClass]="{ 'is-invalid': submitted && isAddressLine1Required && !isAddressLine1Valid}" />
                        <div *ngIf="submitted && isAddressLine1Required && !isAddressLine1Valid" class="invalid-feedback">
                            <div>Address line1 is required</div>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="isShowOtherAddress" >
                        <label>Address Line2:</label>
                        <input type="text" formControlName="AddressLine2"
                         class="form-control" [ngClass]="{ 'is-invalid': submitted && f.AddressLine2.errors }" />
                    </div>
                   
                    <div class="form-group" *ngIf="isShowOtherAddress">
                        <label>Pin Code:</label>
                        <input type="text" formControlName="PinCode"
                         class="form-control"
                         (blur)="validatePincodeFields();"
                        [ngClass]="{ 'is-invalid': submitted && isPincodeRequired && !isPincodeValid}" />
                        <div *ngIf="submitted && isPincodeRequired && !isPincodeValid" class="invalid-feedback">
                            <div>Pin Code is required</div>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label>City:</label>
                        <input type="text" formControlName="City"
                         class="form-control" [ngClass]="{ 'is-invalid': submitted && f.City.errors }" />
                        <ul> 
                         <li *ngFor="let ct of filteredCity" (click)='getSelectedCity(ct)' class="filter-select-list"> 
                                {{ct.cityName}}
                             </ul> 
                        <div *ngIf="submitted && f.City.errors" class="invalid-feedback">
                            <div *ngIf="f.City.errors.required">City is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                            <button class="btn btn-primary" (click)="onSubmit()">Save & Delivery Here</button>
                            <button class="btn btn-primary" (click)="cancelAddressForm()">Cancel</button>
                    </div>
                </form>
            </div>
            </div>